<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kk9software.reviewreminder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddSubjectActivity"
            android:label="Add new subject"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddCategoryActivity"
            android:label="Add new category" />
        <activity
            android:name=".ChooseChapterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseSubjectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddChapterActivity"
            android:label="Add new chapter" />
        <activity
            android:name=".EditCategoryActivity"
            android:label="Edit category" />
        <activity
            android:name=".EditChapterActivity"
            android:label="Edit chapter" />
        <activity
            android:name=".EditSubjectActivity"
            android:label="Edit subject" />
    </application>

</manifest>